:root {
  /* Основний шрифт тексту */
  --main-font: 'Open Sans', sans-serif;
  /* Другорядний шрифт тексту */
  --second-font: 'Raleway', sans-serif;
  /* Колір акценту */
  --accent-color: #ff6c00;

  /* Світлий колір тексту */
  --white-color-text: #ffffff;
  /* Основний темний колір тексту */
  --main-black-color-text: #303030;
  /* Другорядний темний колір тексту */
  --second-black-color-text: #555555;
  /* Третій колір тексту */
  --third-color-text: #9da4bd;
  --third-color-text-rgba: rgba(157, 164, 189, 0.6);
  /* Колір заднього фону*/
  --main-bg-color: #ffffff;
  --second-bg-color: #f7f7f7;
  --black-bg-color: #191c26;
}

body {
  font-family: var(--main-font);
  color: var(--main-black-color-text);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.main-btn {
  padding: 12px 20px 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.btn-white-color {
  color: var(--white-color-text);
}

.bth-black-color {
  color: var(--main-black-color-text);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
}

/* Шапка сайту HEADER */

.header {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  background-color: var(--black-bg-color);
}

.header-nav-link,
.header-phone {
  color: var(--white-color-text);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  margin-top: 32px;
}

.header-nav {
  margin-top: 40px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-wrapper {
  margin-top: 40px;
}

.header-phone {
  margin-right: 40px;
}

/* Секція герой HERO */

.hero {
  background-color: var(--black-bg-color);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-black-color-text);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-uppertitle {
  display: flex;
  align-items: center;

  padding-top: 184px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color-text);
}

.hero-uppertitle::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  margin-left: 100px;
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  margin-left: 100px;

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color-text);
}

.hero-subtitle {
  margin-left: 100px;
  padding-bottom: 206px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-color-text);
}

.hero-sublist {
  display: flex;
  justify-content: flex-end;
}

.hero-subitem:not(:last-child) {
  margin-right: 26px;
  padding-bottom: 40px;
}

.hero-btn {
  border: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--white-color-text);
  background-color: transparent;
  cursor: pointer;
}

.hero-btn::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Секція про нас ABOUT */

.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-list {
  display: flex;
}

.about-item {
  margin-right: 30px;
}

.about-wrapper {
  margin-left: 64px;
}

.about-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-text::before {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--main-black-color-text);
}

.about-title {
  margin-bottom: 20px;

  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-black-color-text);
}

.about-subtitle {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-black-color-text);
}

.about-subtext {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-black-color-text);
}

/* Секція послуги та ціни PRICE */
.price {
  background-color: var(--black-bg-color);
}

.price-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-color-text-rgba);
}

.price-title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-color-text);
}

.price-inner-name,
.price-inner-cost {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-color-text);
}

/* Секція переваги ADVANTAGES */
.advantages-uppertext {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.advantages-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-black-color-text);
}

.advantages-title {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-black-color-text);
}

.advantages-undertitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-black-color-text);
}

/* Секція майстри MASTERS */
.masters {
  background-color: var(--second-bg-color);
}
.master-uppertext {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-black-color-text);
}

.masters-title {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-black-color-text);
}

.master-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--main-black-color-text);
}

.master-text {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Секція галерея GALLERY */
.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-black-color-text);
}

/* Сукція контакти CONTACTS */
.contacts {
  background-color: var(--black-bg-color);
}

.contacts-uppertitle {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-color-text);
}

.contacts-link,
.contacts-text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-color-text);
}

.contacts-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color-text);
}

/* Секція підвал FOOTER */
.footer {
  background-color: var(--second-bg-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-text {
  color: var(--third-color-text);
}

.footer-link {
  color: var(--main-black-color-text);
}
